/*Header*/
 
  /* Mobile */
  @media screen and (max-width: 768px) {
    .header-top {
      display: none;
    }
  }

  @media screen and (max-width: 500px) {
    .header-inner {
        padding: .75rem 0;
    }
  }
   
  @media(max-width:820px){
  
    #nav-toggle{display:block}
  
    .menu{
      position:fixed;
      top:0;
      right:-100%;
      width:250px;
      height:100vh;
      background:var(--bg);
      flex-direction:column;
      padding:5rem 1rem 1rem;
      gap:1rem;
      border-left:1px solid #e5e7eb;
      transition:right .3s ease;
      z-index: 99999;
    }
    .menu.open{right:0}
  
    .has-sub:hover .sub{display:none}
  
    .sub{
      position:static;
      opacity:1;
      pointer-events:auto;
      box-shadow:none;
      border:0;
      transform:none;
    }
  }
  
  /*Slider*/
   
  /* Responsive */
  @media (max-width: 820px) {
    #hero-slider,.slide-bg img {
      height: 400px;
    }
    .slide-content-wrapper {
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
    }
    .slide-title {
      font-size: 2rem;
    }
    .slide-desc {
      font-size: 1rem;
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 30px;
      height: 30px;
    }
  }
  /* Responsive: align arrows with container on mobile */
 @media (max-width: 500px) {
    .slide-content {
        max-width: 100%;
        color: #fff;
        opacity: 0;
        padding: 30px;
      }

.nav-direction .swiper-button-prev,
.nav-direction .swiper-button-next {
  margin: 0px;
}
 }
  
 /*Footer*/
  /* RESPONSIVE */
  @media(min-width:720px){
    .cards-grid{grid-template-columns:repeat(2,1fr)}
    .hero{grid-template-columns:1fr 1fr}
    .footer-inner{grid-template-columns:1fr 1fr 1fr}
  }
  @media(min-width:1100px){
    .cards-grid{grid-template-columns:repeat(4,1fr)}
  }
  

